<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerce"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".whatapp_chat.ChatMain2"
            android:exported="false" />
        <activity
            android:name=".whatapp_chat.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".whatapp_chat.ChatDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignUpActivity_ChatApp"
            android:exported="false" />
        <activity
            android:name=".whatapp_chat.ChatAppMainActivity"
            android:exported="false"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".chatbot.MainActivityChatbot"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentRazoPay"
            android:exported="false"
            android:label="Payment"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".login.ForgotPassActivity"
            android:exported="true" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false"
            android:label="Payment"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.CheckoutActivity"
            android:exported="false"
            android:label="Check out"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false"
            android:label="ShopingCart"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ECommerce.DarkActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>